.contact {
  display: grid;
  row-gap: 1rem;
  align-items: center;
  justify-items: center;
  width: fit-content;
}

.contact-header {
  display: grid;
  width: fit-content;
  justify-items: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.contact-container {
  width: 100%;
}

.contact-information {
  background: var(--bg-gradient);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
  padding: 1rem;
}

.contact-information li img {
  height: 2rem;
}

.contact-information ul {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.contact-information a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
  font-size: 0.75rem;
}

@media (min-width: 993px) {
  .contact-information {
    padding: 3rem;
  }

  .contact-information a {
    font-size: 1rem;
  }

  .contact-container {
    width: 60%;
  }
}
