@import './about.css';
@import './contact.css';
@import './projects-preview.css';
@import './skills.css';

.content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
}

.content > section {
  padding-top: 2rem;
  margin-bottom: 5rem;
}

h1 {
  font-family: 'Venus Rising Rg', sans-serif;
  font-size: 1.5rem;
  color: var(--main-color);
  text-align: center;
}
