.technologies {
  background: var(--bg-gradient);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
  padding: 2rem;
  display: grid;
  row-gap: 3rem;
}

.technologies-skills {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  justify-items: start;
  align-items: center;
}

.technologies > section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  justify-items: start;
  align-items: center;
}

.technologies-list {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  row-gap: 1rem;
  align-items: center;
  justify-items: center;
  margin-top: 2rem;
}

.skills {
  display: grid;
  row-gap: 3rem;
}

.skills-header {
  display: grid;
  position: relative;
  justify-items: center;
}

.skills-header h1 {
  background: url('/design/category-style-design.svg') no-repeat;
  padding: 1.6rem 5.95rem;
}

@media (min-width: 993px) {
  .technologies-skills {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    align-items: start;
  }

  .technologies-list {
    column-gap: 1rem;
    grid-template-columns: repeat(4, 3rem);
    justify-items: start;
    margin-top: 3rem;
  }
} ;
