.skills {
  display: grid;
  row-gap: 1rem;
  align-items: center;
  width: fit-content;
  justify-items: center;
}

.skills-header {
  display: grid;
  width: fit-content;
  justify-items: center;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
  background-image: var(--bg-header);
}

.technologies {
  background: var(--bg-gradient);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
  padding: 2rem;
  display: grid;
  row-gap: 3rem;
}

.technologies > section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  justify-items: start;
  align-items: center;
}

.programming-technologies,
.design-technologies {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  align-items: center;
  row-gap: 1rem;
}

.technologies-skills {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  justify-items: start;
  align-items: center;
}

.programming-technologies-title,
.design-technologies-title {
  font-weight: 300;
  color: var(--main-color);
}

.design-technologies-header,
.programming-technologies-header {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  justify-items: start;
  gap: 1rem;
  width: fit-content;
}

.technologies-list {
  display: grid;
  grid-template-columns: repeat(4, 3rem);
  column-gap: 1rem;
  align-items: center;
  justify-items: center;
  margin-top: 2rem;
}

.technologies-list li {
  width: 100%;
}

@media (min-width: 992px) {
  .skills-header {
    padding: 2rem 2.5rem;
  }

  .technologies-skills {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    align-items: start;
  }

  .technologies-list {
    column-gap: 1rem;
    grid-template-columns: repeat(4, 3rem);
    justify-items: start;
    margin-top: 3rem;
  }
}

@media (min-width: 1210px) {
  .technologies-list {
    column-gap: 1rem;
    grid-template-columns: repeat(8, 3rem);
  }
}
