.btn-cta-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--white);
  height: 4rem;
  width: 10rem;
  padding-top: 0.35rem;
  background: var(--secondary-color);
  cursor: pointer;
  clip-path: polygon(42% 0, 48% 15%, 100% 15%, 100% 100%, 4% 100%, 0 81%, 0 0);
  transition: background-color 0.3s ease-in-out;
}

.btn-cta-secondary:hover {
  background-color: var(--main-color);
  animation: button 0.2s ease-in-out forwards;
}
