@keyframes project {
  0% {
    transform: translatey(0);
  }

  100% {
    transform: translateY(3%);
  }
}

.project {
  position: relative;
}

.project-header a {
  font-family: 'Exo 2', serif;
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  bottom: 1.5rem;
  right: 4rem;
}

.project:hover {
  animation: project 0.5s linear forwards;
}
