@import './fonts.css';
@import './variables.css';
@import './reset.css';

@import './shared/index.css';
@import './home/index.css';
@import './projects/index.css';
@import './welcome/introduction.css';

@import './../node_modules/bootstrap/dist/css/bootstrap-grid.css';
@import './../node_modules/bootstrap/dist/css/bootstrap-grid.css';

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: var(--white);
}

main {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  row-gap: 5rem;
}

main > section {
  padding-top: 2rem;
  margin-bottom: 5rem;
}

h1 {
  font-family: 'Venus Rising Rg', sans-serif;
  font-size: 1.5rem;
  color: var(--main-color);
  text-align: center;
}
