:root {
  --main-color: #fb4409;
  --secondary-color: #703ac4;
  --bg-color: #0b0a22;
  --bg-gradient: linear-gradient(
    180deg,
    rgba(112, 58, 196, 0.2) 0%,
    rgba(112, 58, 196, 0.026) 100%
  );
  --bg-header: linear-gradient(
    135deg,
    transparent 5%,
    rgba(112, 58, 196, 0.2) 0%,
    rgba(112, 58, 196, 0.026) 95%,
    transparent 95%
  );
  --white: #fff;
  --black: #000;
  --light: var(--white);
  --dark: var(--white);
}
