@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.introduction {
  display: grid;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  padding-bottom: 2rem;
  animation: appear 2s linear forwards;
}

.introduction-inner {
  background-image: var(--bg-header);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  row-gap: 2rem;
}

.introduction-inner p {
  text-align: center;
}

.introduction-inner a {
  margin-top: 1rem;
}

@media (min-width: 993px) {
  .introduction-inner {
    width: 55%;
  }

  .introduction-inner p {
    width: 65%;
  }
}
